*{
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
  color:white;
  font-size: 3rem;
  background-color: rgb(81, 81, 228);
  padding: 20px;
  margin-bottom: 40px;
}

.App{
  width: 60%;
  margin: 40px auto;
}

form{
  margin-bottom: 30px;
  display: flex;
}

input{
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  background-color: rgb(248, 244, 244);
  font-style: italic;
  transition: 0.2s ease
}

button{
  width: 20%;
  font-size: 1.2rem;
  background-color: darkblue;
  color: white;
  transition: 0.2s ease;
}

.editing button{
  background-color: darkgreen;
}

button:hover{
  background-color: white;
  outline:2px solid darkblue;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}
.editing button:hover {
  outline-color: darkgreen;
  color: darkgreen;
}

input, button{
  border: none;
  padding: 13px
}

input:focus{
  outline:none;
  box-shadow: 0.1px 0.1px 9px 0.1px rgb(134, 228, 228);
  background: white
}
.editing input:focus{
  box-shadow: 0.1px 0.1px 9px 0.1px rgb(161, 228, 134);
}

ul{
  list-style-type: none;
  padding: 0
}

.icons{
  width: 6vw;
  display: flex;
  justify-content:space-between;
}

.icons > *{
  cursor: pointer;
  font-size: 1.5rem
}
.icons > *:first-child {
  color: green;
}
.icons > *:last-child {
  color: red
}

li{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 15px;
  font-size: 1.9rem;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}

li:hover{
  background-color: rgb(233, 230, 230);
  transform: scale(1.02);
}

.no-item{
  color: red;
}

.modal{
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(112, 35, 112);
  color: white;
  width: fit-content;
  padding: 7px 40px;
  border-radius: 20px;
  box-shadow: 0.1px 0.1px 9px 0.1px violet;
  animation: modal 0.2s ease-in-out;
}
@keyframes modal {
  from{bottom: 0; opacity: 0;}  to{bottom: 60px; opacity: 1;}
}

@media only screen and (max-width: 800px) {
  .App{
    width: 90%;
    padding: 0;
    margin: 10px auto;
  }
  .icons{
    width: 20%;
  }
  h1{
    font-size:2rem
  }
}